<!-- <div *ngIf="selectedItem" class="edit">
  <h3>{{selectedItem.name}}</h3>
  <h3>Edit Task</h3>
  <label>Enter Item Name:</label>
  <input [(ngModel)]="selectedItem.name">
  <label>Enter Item price</label>
  <input [(ngModel)]="selectedItem.price">
  <label>Enter Farmer name</label>
  <input [(ngModel)]="selectedItem.farmer">
  <label>Enter energy level</label>
  <input [(ngModel)]="selectedItem.energy">
  <button (click)="finishedEditing()">Done</button>
</div>
<div *ngIf="newItem" class="new-item"> -->
