.card {
  margin-bottom: 12px;
}

.text-red {
  color: red;
  font-weight: bold;
}

.green-price {
  color: green;
  font-weight: bold;
}

.blue-price {
  color: blue;
  font-weight: bold;
}
.button-row{
  display: flex;
  justify-content: space-between;
}
