  <div class="row inventory">
    <div *ngFor="let currentItem of childItemList" class= "inventory col-md-3 card">
      <img class="card-img-top" src="{{currentItem.pic}}" alt="Card image cap">
      <div class="card-body">
        <h3>{{currentItem.name}}</h3>
        <p [class]="priceColor(currentItem)">Price: {{currentItem.price}}g</p>
        <p>Farmer: {{currentItem.farmer}}</p>
        <p>Energy Gain: {{currentItem.energy}}</p>
        <p [class]="priorityColor(currentItem)">Stock Level: {{currentItem.quantity}}</p>
        <button (click)="editItemClicked(currentItem)" type="button" name="button">Edit Me!</button>
        <button  (click)="buyItemClicked(currentItem)" type="button" class="btn btn-danger">Buy Item</button>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="newItem" class="new-item">

  <div *ngIf="newItem" class="new-item">

  </div> -->
